[tool.poetry]
name = "sphinxawesome-codelinter"
version = "1.0.5"
description = "A Sphinx extension to pass reStructuredText code blocks to external tools."
license = "MIT"
readme = "README.md"
authors = ["Kai Welke <kai687@pm.me>"]
repository = "https://github.com/kai687/sphinxawesome-codelinter"
classifiers = [
  'Programming Language :: Python',
  'Framework :: Sphinx',
  'Framework :: Sphinx :: Extension',
  'Topic :: Documentation',
  'Topic :: Documentation :: Sphinx',
  'Topic :: Software Development :: Documentation'
]
packages = [
  { include = "sphinxawesome", from = "src" }
]

[tool.poetry.dependencies]
python = ">=3.6.1,<4.0.0"
sphinx = "^2.2 || ^3.0"
importlib_metadata = {version = "^1.6.1", python = "<3.8"}

[tool.poetry.dev-dependencies]
pytest = "^6.0"
yamllint = "^1.24"
pytest-cov = "^2.10"
pre-commit = "^2.7.0"
coverage = {extras = ["toml"], version = "^5.2"}
flake8 = "^3.8.3"
flake8-annotations = "^2.3.0"
flake8-black = "^0.2.1"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^20.1.4"
flake8-docstrings = "^1.5.0"
flake8-import-order = "^0.18.1"
black = "^20.8b1"
mypy = "^0.782"
pytype = {version = "^2020.8.28", python = "3.6 || 3.7 || 3.8"}
typeguard = "^2.9.1"
safety = "^1.9.0"

[tool.coverage.paths]
source = ["src"]

[tool.coverage.run]
branch = true
source = ["sphinxawesome.codelinter"]

[tool.coverage.report]
show_missing = true
fail_under = 100

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
