name: CI
on: push
jobs:
  format:
    name: Check that code is formatted
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: "3.14"
          enable-cache: true
      - name: Check that code is formatted
        run: uv run ruff format . --check
  tests:
    name: Test, lint, typecheck
    runs-on: ubuntu-latest
    needs:
      - format
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.14"
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: Set up nox
        run: uv tool install nox --with=nox_uv
      - name: Run workflow
        run: nox -p ${{ matrix.python-version }}
  build:
    name: Build the package
    runs-on: ubuntu-latest
    needs:
      - tests
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          python-version: "3.14"
          enable-cache: true
      - name: Build packages
        run: uv build
      - uses: actions/upload-artifact@v6
        with:
          name: python-packages
          path: dist/
  publish:
    name: Publish package to PyPI
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      id-token: write
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: python-packages
          path: dist/
      - name: Upload to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
