---
name: Coverage report

on: push

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          pip install --constraint=.github/workflow/constraints.txt poetry nox yamllint
      - name: Run nox workflow
        run: nox --sessions "tests-3.8(sphinx='3.*')" coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
